extends ../html/index

block content
    h1.form-user.form-user__header= signUp
    form.form-user(method="post" action=path)
      label.form-user__label
        | #{name}
        input.form-user__input(type="text" name="name")
      label.form-user__label
        | #{surname}
        input.form-user__input(type="text" name="surname")
      label.form-user__label
        | E-mail
        input.form-user__input(type="email" name="email")
      label.form-user__label
        | #{password}
        input.form-user__input(type="password" name="password")
      label.form-user__label
        | #{repassword}
        input.form-user__input(type="password" name="repassword")
      button= signUp
    a.btn.btn--back(href=goBackPath)= goBack
