include ../fav-button/index

mixin duck-detail(duck)
        article
          h3= duck.title
          img(src=duck.imageUrl)
          span= duck.price
          p= duck.description
          a(href=duck.link)= "Go to store"
          +fav-button(duck.id,duck.favorite)