extends ../html/index

include ../feedback/index

block content
    h1= signIn
    form(method="post" action=path)
      label
        | E-mail
        input(type="email" name="email")
      label
        | #{password}
        input(type="password" name="password")
      button= signIn
    a(href=goBackPath)= goBack
    if(error)
      +feedback(error)