extends ../html/index

include ../lang-selector/index
include ../search/index
include ../duck-results/index
include ../duck-detail/index


block content
    header.header
      +lang-selector(selectLangPath)
      
      if(name)
        nav
          h1
            | #{hello}, #{name}!
          ul
            li
              a(href=favoritePath)= favorite
            li
              form(method="post" action=signOutPath)
                button= signOut
      else
        nav
            ul
            li
                a(href=signUpPath)= signUp
            li
                a(href=signInPath)= signIn
      +search(searchPath, search)
      if(ducks)
        +duck-results(ducks)
      if(duck)
        +duck-detail(duck)
